/*Slider*/
.unslider{overflow:auto;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}
/*Slick*/
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
.unslider, .unslider-fade , .unslider-wrap
	height 100%
body 
	font-family: 'Open Sans', sans-serif;
img
	max-width 100%
a
	color #000
a:hover
	color #333

.menu-responsive
	float right
	position relative
	display none
	#nav-icon3{
		width: 30px;
		height: 24px;
		position: relative;
		margin: 1em auto 0;
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
	}

	#nav-icon3 span {
		display: block;
		position: absolute;
		height: 1px;
		width: 100%;
		background: #000000;
		border-radius: 0;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}


	/* Icon 3 */

	#nav-icon3 span:nth-child(1) {
		top: 0px;
	}

	#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
		top: 9px;
	}

	#nav-icon3 span:nth-child(4) {
		top: 18px;
	}

	#nav-icon3.open span:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
	}

	#nav-icon3.open span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		}

	#nav-icon3.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	#nav-icon3.open span:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
header.fix-padding-top
	height 160px
.top.menu-fixed
	position: fixed;
	height: 60px;
	z-index: 999;
	background: #fff;
	width: 100%;
	box-shadow: 1px 0px 13px 1px rgba(0, 0, 0, 0.55);
	.menu-responsive
		display: block;
		background: #e8e8e8;
		padding: .5em 1em;
		margin-left: 1em;
		margin-top: -1.3em;
		height: 60px;
	.socials
		display none
	.logo
		display block 
		img 
			height 40px
	.info 
		padding-top: .5em;
	.menu-responsive
		nav 
			position: absolute;
			background-color: #fff;
			width: 220px;
			height: 250px;
			z-index: 9999;
			left: -13em;
			top: 4.75em;
			padding-top: 0;
			box-shadow: 2px 5px 13px -4px rgba(0,0,0,0.67);
		nav.list-menu ul li
			display block
			a 
				display block
				padding .8em 0
				text-align left
.top
	padding: .8em 0;
	border-bottom 2px solid rgba(0,0,0,.05)
	font-size .95em
	.logo 
		display none
	.sep
		border-left 1px solid rgba(0,0,0,.5)
		height 40px
		margin: 0 1.5em;
	form
		display inline-block
		position relative
		background-color: #FFF
		z-index 999
		transition-duration: .5s;
		input 
			position: absolute;
			width: 225px;
			height: 35px;
			right: 100%;
			top: -5px;
			padding-left 1em
			display none
			outline none
			border-color: #dcdcdc;
			border: 1px solid #d0d0d0;
	button
		border 0
		background-color: #FFF
		outline none
	.car-top-info
		margin-left 1em
		sup
			background-color: #dac375;
			color: #fff;
			height: 18px;
			width: 18px;
			border-radius: 50%;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			line-height: 1.9em;
			margin-left: -1.7em;
.menu-container
	text-align center
	padding 3em 0 1.7em
nav.list-menu
	padding 2em 0
	font-size .95em
	ul
		padding 0
		list-style-type: none
		text-align center
		float left 
		width 100%
		text-transform: uppercase;
		li 
			display: inline-block;
			margin 0 1.5em
			a
				padding .5em 
				
				text-decoration none
				position: relative
				color #666
			a:hover
				color #000
			a:after
				content ""
				position absolute
				bottom 0 
				left 0
				width 0%
				height 2px
				background-color: #fff
				transition-duration 0.5s
			a:hover:after
				background-color: #dac375
				width 100%
		li.current-menu-item a:after, li.current-product_cat-ancestor a:after, li.current-product-parent a:after
			background-color: #dac375
			width 100%
				
.slider 
	position relative
	max-width 1600px 
	margin 0 auto
	li
		position relative
		.container
			left: 50%;
			height 100%
			top 0
			transform: translateX(-50%);
			position absolute
	.description
		position absolute
		top 3em 
		right 2em
		text-align right
		font-family: 'Josefin Sans', sans-serif;
		h2
			color #fff
			font-size 7em
			text-transform: uppercase;
			font-weight: 300
			position relative
			margin-bottom .6em
			line-height 1.1em
			padding 0 0 .2em
			
		h2:after
			content " "
			bottom 0 
			right 0
			height 6px
			width 70px
			background-color: #FFF
			position absolute
	.unslider-nav
		margin 0 0 0
		position: absolute;
		width: 100%;
		bottom: 8em;
		ol
			text-align center
			padding 0 0 2em
			li 
				display inline-block
				font-size 0
				width 12px 
				height 12px 
				border-radius 50%
				border 1px solid #fff
				background-color: transparent
				margin 5px
				cursor pointer
			li:hover
				background-color: #FFF
			li.unslider-active
				background-color: #FFF
.btn-black
	color #fff
	background-color: #000
	padding 1.1em 2em
	transition-duration 0.3s
	
.btn-black:hover
	background-color #fff 
	color #000
	text-decoration none
.filter
	padding 0 0 1em
	margin-bottom 2em
	select 
		border 1px solid #9c9c9c
		padding .6em 1em
		width 200px
	article
		ul, i, li 
			display inline-block
			font-size .95em
		ul 
			padding-left 3em
			list-style none
			li
				a
					padding .5em 1em
		
.products-grid
	margin-top -7em
	position relative
	z-index: 99
	margin-bottom 1em
	.grid-item
		float left
		width 39%
		height 450px
		background-color: #f4f4f4
		margin 5px
		overflow hidden
		text-align center
		position relative
	.grid-item--width2
		width 59%
		text-align right
	.grid-item.large-vertical
		height 680px
		img
			margin-top: 3em;
	.grid-item.discount
		height 220px
	.info 
		position absolute
		bottom 0
		left 0
		padding 2em
		h2 
			font-family: 'Josefin Sans', sans-serif;
			font-weight  300
			font-size 3.85em
			color #000
			margin-bottom .65em
			position relative
		h2:after 
			content ""
			position absolute
			bottom 0
			left 0
			width 25%
			height 1px
			background-color: #000
		.btn-browse
			float left
			font-size .85em
			text-decoration none
.btn-browse
	padding 1em 2em
	text-transform: uppercase;
	border 1px solid #333
	position relative
	
.btn-browse:hover span
	color #fff	
	position relative
	z-index: 999
.btn-browse:after
	content ""
	position absolute
	bottom 0
	left 0
	width 100%
	height 0
	transition-duration 0.35s
	background-color: transparent
	opacity 0
.btn-browse:hover:after
	height 100%
	bottom 0
	background-color: rgba(0, 0, 0, 1)
	opacity 1
.clear
	clear both
.featured-products
	padding 0 0 6em
	h2
		font-family 'Josefin Sans', sans-serif
		font-weight 400
		font-size 2.2em
		position relative
		line-height 2em
		display inline-block
		color #000
	h2:after 
		content ""
		position absolute
		bottom 0
		left 0
		width 25%
		height 1px
		background-color: #000
.products 
	padding 2.2em 5em 0
	.slick-slide img
		width 100%
	.slick-slide
		margin 0 .5em
		outline none
	.slick-arrow
		position absolute
		border 1px solid  #cacaca
		top 40%
		font-size 0
		width 40px
		height 105px
		background-color: #fff
		transition-duration 0.5s
		background-repeat: no-repeat
		background-position: 50% 50%
		outline none
	.slick-prev
		left 0
		background-image: url('../img/prev.png')
	.slick-next
		right 0
		background-image: url('../img/next.png')
	
	h3 , h5, span
		color #000
		margin 0 20px .5em
	h3
		margin-top 1em	
	h5 
		color #cacaca
		margin-bottom 1.65em
	span.price
		font-size 1.4em
	a.icon-heart
		background-repeat: no-repeat
		background-position: 50% 50%
		background-image: url('../img/icon-heart.png')
		padding .5em 1em
		margin-right .7em
		margin-top .7em
		outline none
	article
		position relative
		
		.hover
			position absolute
			left 0
			top 0
			height 100%
			width 100%
			background-color: rgba(0, 0, 0, .7)
			opacity 0
			transition-duration 0.5s
			cursor pointer
			.links
				top: 50%;
				transform: translateY(-50%);
				position absolute
				text-align center
				width 100%
			a
				width 55px
				height 55px
				border 1px solid #fff
				display inline-block
				margin .5em
				background-repeat: no-repeat
				background-position: 50% 50%
			a.view-products
				background-image: url('../img/icon-view.png')
			a.shop-product
				background-image: url('../img/icon-shop.png')
			a.add-wishlist
				background-image: url('../img/icon-heart-white.png')
	article:hover .hover
		opacity 1
	article .hover:after
		content ""
		position absolute
		bottom 0
		left 0
		width 0%
		height 4px
		background-color: #dac375
		transition-duration 0.8s
	article:hover .hover:after
		width 100%
.more-info
	padding-bottom 4em
	text-align justify
.woocommerce #reviews #respond h3
	font-weight 300
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 2em;
.woocommerce 
	#reviews
		textarea
			height 150px 
		input[type="text"], input[type="email"], textarea
			border 2px solid #cacaca
			float left
			margin-bottom: 1.5em;
			padding: .5em;
		input[type="text"], input[type="email"]
			width 48%
			float left 
		input[type="text"]
			margin-right 2%
		input[type="email"]
			margin-left 2%
.woocommerce #review_form #respond textarea
	height 200px
.woocommerce #review_form #respond .form-submit input, .woocommerce #review_form #respond .form-submit input:hover, .woocommerce #review_form #respond .form-submit input:focus
	background-color #000
	color #fff
	padding 1em 2em
	border-radius 0
	border-radius: 0;
	font-weight: 300;
	float: right
footer
	background-color: #121212
	color #666
	font-size .85em
	text-align justify
	padding 6em 0
	input
		background-color: #1b1b1b;
		border: 0;
		width: 70%;
		padding: .7em 1em;
		display: block;
		border: 0;
		outline: none;
		background-repeat: no-repeat;
		background-position: 98% 50%;
		background-image: url("../img/icon-suscriber.png");
	.suscriber
		margin-bottom 5em
	.socials
		margin 2em 0 2.5em
	article
		width 70%
		padding .7em 0 1em 0
	a 
		color #666
		transition-duration .3s
		
	a:hover
		color #cacaca
		text-decoration none
	ul 
		padding 0 
		list-style none
	.left-box
		margin-top 2em
		h4
			color #636e2a
			font-weight 300
			font-size 1.2em
			position relative
			padding .8em 0
			margin-bottom 2em
		h4:after 
			content ""
			position absolute
			bottom 0
			left 0
			width 25%
			height 1px
			background-color: rgba(255, 255, 255, 0.1)
		li
			
			a
				display block
				padding .35em 0
.fancybox-opened .fancybox-skin
	background-color: #FFF
	border-radius 0
	.fancybox-close
		right: .5em;
		top: 1em;
		background: url('../img/icon-close.png') no-repeat;
	.box-detail
		.slick-slide
			outline none
		.slick-vertical .slick-slide
			width 55px !important
			border-color #fff
			margin 3px
		
			
		.full
			background-color: #f0f0f0
			position relative
			width 100%
			height 500px
			
			.slick-slide, .slick-list, .slick-track
				width: 100% !important;
				left: 0 !important;
				top: 0 !important;
				position: absolute !important;
				height: 100%;
		.thumb
			
			height 75px 
			overflow hidden
			position: absolute;
			bottom: 1.2em;
			left: 3em;
			.slick-slide
				opacity .5
			.slick-slide.slick-current
				opacity 1
			.slick-slide img
				padding .5em 0
				cursor pointer
				border 2px solid #fff
			.slick-track, .slick-list
				height 100% !important
.box-detail
	overflow hidden
	padding 2em 2em 0
	position relative
	color #666
	text-align justify
	font-size .9em
	.box 
		float left
		width 48%
	.box.right 
		padding-left 2em
	article
		margin-bottom 2em
	h3
		color #000
		font-weight 600
		font-size 1.7em
	p
		font-weight 100
		font-size .95em
	.price
		color #dac375
	a
		color #cacaca
	a:hover
		text-decoration none
	.price
		font-size 2em
		margin-top 1em
	form 
		display inline-block
		margin 2.5em 0 2em	
	input, button, .btn-wishlist
		border 1px solid #cacaca
		display inline-block
		background-color: #FFF
		padding 1em 1em
		width 110px
		margin-right 5px
		outline none
		transition-duration 0.3s
		vertical-align top
	input
		line-height 1.5em
		padding .5em .7em .5em .7em
		font-size 1.3em
		color #000
		text-align center
	button
		background-color: #000
		width 160px
		color #fff
	.btn-wishlist
		background-repeat: no-repeat
		background-position: 50% 50%
		background-image: url('../img/icon-heart.png')
		width 50px 
	.btn-wishlist:hover, input:hover, input:focus
		border-color #737373
.heading
	background-color: #000
	margin-bottom 4em
	margin-top 1.5em
	h1
		font-weight 300
		font-family: 'Open Sans', sans-serif;
		padding .6em 0
		font-size 3.4em
		color #fff
		line-height .73em
		small
			font-weight 100
			font-size .4em
.heading.white
	margin-bottom 0
	h1
		padding-bottom 0
.heading.white, .product-detail
	background-color: #FFF
	border-top 2px solid rgba(0, 0, 0, .1)
	
	.col-md-12
		background transparent !important
	h1
		
		color #000
.list-products
	padding-bottom 4em
.list-products .products > div
	padding-bottom 4em
	margin-bottom 2.5em
	padding: 0 7px;
.list-products .products
	padding 0
	.full .box
		background-color: #fff
		border 1px solid #dadada
		height 780px
		padding-bottom 0
		img 
			width initial
	article
		background-color: #f4f4f4
		padding: 2em 0;
		text-align right
	article.desc 
		background-color: #FFF
		padding 0 5em
		margin-top 3em
		margin-bottom 4em
		h2
			position relative
			font-family: 'Open Sans', sans-serif;
			font-weight 300
			font-size: 2.7em;
			line-height 1.8em
			margin-bottom 0
			margin-top 2.2em
		h2:after 
			content ""
			position absolute
			bottom 0
			right 0
			width 10%
			height 1px
			background-color: #000
		article
			background-color: #FFF
			p 
				margin 0 0 .5em
	img 
		width 80%
		margin 0 auto
		display block
	span.price
		font-size 1.3em
	h3
		font-size .9em
	h3, span.price
		margin-left 0
	.clear
		margin 0
.breadcrubms
	margin-bottom 1em
	nav 
		ul 
			paddign 0
			li 
				display inline-block
				margin 0 .5em
				a 
					padding 0 .5em
					color #333
			li:last-child a 
				color #000
.product-detail
	background-color: #fff 
	padding-top 3em
	padding-bottom 3em
	position relative
	h3
		font-size 3em	
		font-weight 300
	.box-detail
		color #000
		padding: 2em 8em 0;
		.slick-slide
			outline none
		.full
			height auto
			img 
				margin 0 auto
		.thumb 
			position relative !important
			.slick-slide
				text-align center
				outline none
				opacity 0.1
				cursor pointer
				img 
					margin 0 auto 2em
					width 70px 
					border 1px solid #cacaca
			.slick-current
				opacity 1
				img 
					margin 0 auto 2em
					width 70px 
					border 1px solid #fff
.cart_totals
	float right 
	width 380px
	text-align left
	margin-top 1.5em
	td, th 
		padding 1em 0
		font-weight 300
		text-align right
		border 0 !important
	th 
		width 30%
	td  
		width 70%
		
	h2
		font-weight 300
		text-transform: uppercase;
		color #000
		font-size 1.2em
		text-align left
		border-bottom 1px solid #cacaca
		padding-bottom 1em
	.wc-proceed-to-checkout
		.button 
			background-color: #dac375
			color #fff
			width 80%
			float right
	.woocommerce-Price-amount
		color #000
	.order-total 
		strong span
			color: #dac375;
			font-size: 1.3em;
			font-weight: 300
.heading.my-cart
	padding 5em 0
.cart-page
	padding-bottom 3em
	.socials
		width 100%
		text-align center
		padding 8em 0 8em
		a 
			display inline-block
.contact-page
	padding-top 5em
	border-top 2px solid #ededed
	padding 4em 0 8em
	form 
		margin-top 4em
		input, textarea
			padding .5em .5em
			float left 
			width 100%
			margin-bottom 1.5em
			border 2px solid #cacaca
		textarea
			height 200px
		label
			font-weight 300
			font-size .8em
			input
				float none
				display inline-block
				width initial
		.send
			background-color: #000
			color #fff 
			margin-top 2em
			padding .75em 4em
			border 0
	h2
		font-size 2em
		position relative
		padding-bottom .5em
	h2:after 
		content ""
		position absolute
		bottom 0
		left 0
		width 5%
		height 1px
		background-color: #000
	ul 
		padding 0
		list-style none
		text-align center
		padding 5em 0
		li 
			display inline-block
			margin 0 2em
			span
				background-repeat: no-repeat
				background-position: 50% 50%
				padding .2em 1.5em
			span.marker
				background-image: url('../img/marker.png')
			span.tel 
				background-image: url('../img/tel.png')
			span.email 
				background-image: url('../img/mail.png')
.shop_table
	width 100%
	
	tr:last-child
		border 0
	th
		text-transform: uppercase;
		
	td, th  
		border-bottom: 1px solid #dedede;
		color: #666;
	.product-thumbnail, .product-name , .product-price, .product-quantity, .product-subtotal, .product-remove, .product-instock
		width 15%
		text-align: center;
		padding: 1.5em 0;
	.product-thumbnail
		img 
			width 80px !important
	.product-quantity
		input
			padding: .5em 0.3em;
			width: 100px;
			line-height: 2em !important
			text-align: center;
	.product-price span, .product-subtotal span
		color #dac375
		font-size 1.3em
	.btn-add-to-cart
		background-color: #000
		color #fff
		padding .8em 1.5em
		transition-duration .3s
	.btn-add-to-cart:hover
		text-decoration none
	.actions
		.coupon
			width 300px
			h3
				border-bottom 1px solid #cacaca
				text-align left
				font-weight 300
				color #000
				padding 1em 0
			p
				text-align left
			.button 
				background-color: #000
				padding 1.2em 2em
				color #fff
				float left 
				font-size .85em
				border 0
				margin-top 1.4em
			input[type="text"]
				padding .8em  1.2em !important
				font-size .9em
				float left
				width 100% !important
	.buttons
		padding-top 5em
		padding-bottom 3em
	.button
		border 1px solid #cacaca
		transition-duration 0.5s
		padding 1.2em 3em
		text-transform: uppercase;
		display inline-block
		font-size 1em
	.button:hover
		background-color: #000
		color #fff 
		text-decoration none
	.button.pull-right
		margin-left 1em
	input.button
		font-size 1.15em
		background-color: #FFF
.my-account
	border-top 2px solid #cacaca
	color #999
	padding 3em 0 6em
	a.recovery
		color #333
		font-size .95em
		margin-top 5em
	.woocommerce input.button
		background-color: #000
		color #fff 
		border 0
		padding 1em 2em
		border-radius 0
		margin-top: 1em;
	h1
		font-weight 300
		color #000
#customer_login h2
	padding-top 1em
	font-size 1.7em
	font-weight 300
#customer_login .u-column1, #customer_login .u-column2
	padding-bottom 2em
.list-mini-cart
	position: absolute;
	display: none;
	background-color: #000;
	padding-top: 2em;
	padding-bottom: 2em;
	left: -17em
	text-align center
	.subtotal, p 
		color #dac375
		margin 0 3.1em 2em
	p 
		color #fff
		text-align left
	.btn-view-cart
		display inline-block 
		margin 0 auto
		transition-duration 0.5s
	.btn-view-cart:hover
		text-decoration none
		background-color: #000
		color #fff
		border 1px solid #fff 
.list-mini-cart ul
	background-color: #000;
	color: #fff;
	width: 302px;
	list-style: none;
	text-align: left
	li 
		display block
		float left
		width 100%
		margin-bottom 1em
	img 
		margin-right 2em
	.price
		color #dac375
.car-top-info
	position relative
	display inline-block
	z-index 999
.car-top-info:hover .list-mini-cart
	display block
.btn-view-cart
	background-color: #dac375
	padding .7em 2em
	color #000
	font-size 1.2em
.no-padding
	padding 0 !important
.link-product
	border 1px solid #cacaca
	position: absolute;
	background-repeat no-repeat
	background-position: 50% 50%
	position absolute
	top 40%
	width 40px 
	height 100px
	transition-duration 0.5s
.link-product:hover
	border 1px solid #666
.prev-product
	left 15px
	background-image: url('../img/prev.png')
.next-product
	right 15px
	background-image: url('../img/next.png')
.woocommerce #review_form #respond textarea:focus
	outline none
.woocommerce #reviews #comments ol.commentlist li img.avatar
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px;
	width: 80px;
	height: auto;
	/* background: #ebe9eb; */
	/* border: 1px solid #e4e1e3; */
	margin: 0;
	box-shadow: none;
	border-radius: 50%;
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta
	strong, time
		display block
		text-transform: uppercase;
	strong
		color: #000;
		font-size: 1.5em;
		margin-bottom: .5em;
		line-height: 1em;
.pagination
	padding 0 0 4em
	ul,li,a 
		padding 0
		list-style none 
		display inline-block
	ul li a
		padding .35em .8em
	a.prev-pag, a.next-pag
		background-color: #000
		color #fff
		padding .35em .8em
footer .left-box .clear 
	display none
.fancybox-overlay
	z-index 9999
.category-parent
	.back 
		background-position: 100% 0%
		background-repeat: no-repeat
		background-size: contain
.checkout 
	#order_review_heading
		text-align right
		text-transform: uppercase;
	.woocommerce
		max-width 900px
		margin 0 auto
.heading.how-do
	padding 10em 0
.woocommerce-account .woocommerce-MyAccount-navigation
	text-transform: uppercase;
	ul 
		padding-left 0
		li 
			margin-top 1.25em
			a 
				color #666
				padding .5em
				transition-duration 0.5s
			a:hover
				color #000
.page-normal
	font-weight 100
	text-align justify
	h2, h3
		font-weight 100
	h2:after
		content ""
		display none
	p 
		margin-top 0
		margin-bottom 2em
		line-height 1.8em
		color #666
	h3
		font-size 1.65em
		margin-bottom 1.7em
		strong
			font-weight 900
	img.alignleft
		float left 
		margin 1em 2em 1.5em 0
	img.alignright
		float right  
		margin 1em 0 1.5em 2em
@media (min-width: 1280px)
	.container 
		width: 1280px;
	.slider .description h2
		margin-top 5%
@media (max-width 1280px)
	nav.list-menu
		padding: 1em 0;
	.menu-container
		padding: 1.5em 0 0.7em;
	.slider
		font-size: .75em;
	
	.products-grid .grid-item
		width: 38%;
	.products-grid .grid-item--width2
		width: 58%;
@media (max-width 1140px)
	.slider .description h2
		margin-top .2em
		font-size 6em
	.products-grid .grid-item
		width: 38%;
		
	.products-grid .grid-item--width2
		width: 58%;
	.products-grid .grid-item.large-vertical
		height 630px
	.products-grid .grid-item.discount
		height 170px
	.products-grid
		margin-top -6em
	.products-grid .info h2
		font-size: 3em;
		text-align left
	.list-products .products .full .box
		height: 680px;
	
	.product-detail .box-detail
		padding: 2em 5em 0;
	.product-detail h3
		font-size 2.5em
@media (max-width 992px)
	.product-detail h3
		font-size 2em
	.products-grid .info
		font-size: .75em;
		padding: 1em;
	.products-grid .grid-item
		height 333px
		img 
			max-height: 100%;
			margin: 0 auto;
			display: block;
			float right
	.products-grid .grid-item.large-vertical
		height: 480px;
	.products-grid .grid-item.discount
		height 137px
	.products-grid
		margin-top -4em
	.slider .description h2
		font-size 5.5em
	.slider .unslider-nav
		width: 10%;
		bottom: 4em;
		left: 6%;
	.products-grid .info h2
		font-size: 2.5em;
		text-align left
	header.fix-padding-top
		height 60px
	header
		height 60px
		.top 
			position: fixed;
			height: 60px;
			z-index: 999;
			background: #fff;
			width: 100%;
			box-shadow: 1px 0px 13px 1px rgba(0, 0, 0, 0.55);
			.menu-responsive
				display: block;
				background: #e8e8e8;
				padding: .5em 1em;
				margin-left: 1em;
				margin-top: -1.3em;
				height: 60px;
			.socials
				display none
			.logo
				display block 
				position: absolute;
				left: .5em;
				top: .25em;
				img 
					height 35px
			.info 
				padding-top: .5em;
				position: absolute;
				right: 0;
				.lnk,.sep 
					display none
			.menu-responsive
				nav 
					position: absolute;
					background-color: #fff;
					width: 220px;
					height: 250px;
					z-index: 9999;
					left: -13em;
					top: 4.75em;
					padding-top: 0;
					box-shadow: 2px 5px 13px -4px rgba(0,0,0,0.67);
				nav.list-menu ul li
					display block
					a 
						display block
						padding .8em 0
						text-align left
		.menu-container
			display none !important
	footer .center 
		text-align center
		article, input
			width 100%
		.suscriber 
			margin-bottom 0
	.category-parent
		.back 
			h1 
				margin 0 0
				font-size 3.2em
	.list-products .products .full .box
		height 580px
	.products article .hover a
		width: 35px;
		height: 35px;
	.more-info
		font-size .95em
@media (max-width 769px)
	.page-normal
		padding-top 0
	.heading.how-do
		padding: 2em 0;
		background-size: cover !important;
	.link-product
		display none
	.product-detail .box-detail
		padding: 2em 0 0;
	.slider
		img 
			min-height 300px
	.slider .description h2
		font-size 4em
	.slider li .container
		width 100%
	.slider .description h2:after
		height 3px
	footer .copy 
		text-align center
	footer .left-box .clear 
		display block
	footer .left-box li a
		text-align left
	footer .targets
		width 100%
		text-align center
		padding-bottom 1em
	footer .targets img 
		margin 2px 
		width 50px
	.products .slick-slide
		font-size .85em
		text-align left
	.products
		padding: 2.2em 3em 0;
	.featured-products 
		text-align center
		h2
			font-size 1.85em
			
			display inline-block
	.featured-products h2:after
		margin 0 35%
	.box-detail .box.right
		padding-left 2.5em
		padding-right .5em
	.box-detail .box
		position relative
	.box-detail article
		margin-bottom 1em
	.box-detail .price
		margin-top: 0
	.box-detail form
		font-size: .8em;
		margin-top: 1.5em;
		margin-bottom: .5em;
		input 
			width 80px
		button 
			width 130px
	.category-parent
		.back 
			h1 
				margin 0 0
				font-size 2em
	.list-products .products .full .box
		height auto
		padding-bottom 2em
	.heading.white h1
		font-size 2em
	.list-products .products article.desc h2
		margin-top .5em
	.list-products .products article.desc
		font-size .95em
		margin-bottom .2em
		padding-right 1em
	.more-info
		font-size .75em
@media (max-width 680px)
	.slider
		img 
			min-height 250px
	.products-grid .grid-item.discount img
		height 100%
		width 100%
	.fancybox-opened .fancybox-skin .box-detail .full
		height 200px
	.box-detail .full .slick-slide img
		display: block;
		margin: 0 auto
		max-height 100%
	.fancybox-opened .fancybox-skin .box-detail .thumb
		bottom: 0;
		left: 0;
		height 55px
	.box-detail
		padding: 2em 2em 0;
		.box 
			width 100%
		.box.right
			padding-left: .5em
			font-size .85em
	.box-detail form input
		width 50px
	.box-detail form button
		width 115px
	.fancybox-opened .fancybox-skin .box-detail .slick-vertical .slick-slide
		width: 35px !important;
	.box-detail h3
		margin .5em 0 0
	.category-parent
		.back 
			background-size 60%
			background-position: 95% 0
			h1 
				padding 1em 0
	.filter article ul
		padding-left 0
		li a 
			padding-left 0
		
@media (max-width 480px)
	.slider
		img 
			min-height 180px
	.products-grid .grid-item
		height: 237px;
		width 37%
	.products-grid .grid-item--width2
		width 57%
	.products-grid .grid-item.large-vertical
		height: 320px;
	.products-grid .grid-item.discount
		height 75px
	.products-grid .info h2
		font-size: 1.8em;
	.products-grid
		margin-top -2em
	.slider .unslider-nav
		width 20%
		bottom 1em
	.slider .description
		font-size .75em
	.top form input
		width 250px
@media (max-width 360px)
	.products-grid .grid-item
		height: 197px;
		width 36%
	.products-grid .grid-item--width2
		width 56%
	.products-grid .grid-item.large-vertical
		height: 260px;
	.products-grid .grid-item.discount
		height 55px
	.products-grid .info h2
		font-size 1.5em
	.top form input
		width 235px
	.products-grid .info .btn-browse
		padding: .7em .8em;
@media (max-width 320px)
	header .top .logo img 
		height: 30px;
		margin-top: .2em;
	.top form input
		width 195px